.nav-button:hover {
    color:aliceblue;
    font-size: large;
}

.links:hover {
    cursor: pointer;
    width: 3.3em;
    height: 3.3em;
    box-shadow: inset;
    opacity: 100%;
}

.input:hover {
    cursor: pointer;
}